<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IryTech.AdmissionJankari20.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="app.config">

  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" >
       
      </compilation>
      <pages controlRenderingCompatibilityVersion="3.5" enableSessionState="true" enableViewState="true" enableViewStateMac="true" smartNavigation="true" enableEventValidation="false" autoEventWireup="true" validateRequest="false" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="Ajex" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
          <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET" />
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>
     
      <siteMap defaultProvider="PageSiteMap" enabled="true">
        <providers>
          <add name="PageSiteMap" description="The site map provider that reads in the .sitemap XML files." type="IryTech.AdmissionJankari.Components.PageSiteMap, IryTech.AdmissionJankari.Components, Version=1.0.0.0, Culture=neutral" />
        </providers>
      </siteMap>
      <httpModules>
        <add name="UrlRewrite" type="IryTech.AdmissionJankari.Components.Web.HttpModules.UrlRewrite, IryTech.AdmissionJankari.Components" />
       

        <add name="MaintainScrollPositionModule" type="IryTech.AdmissionJankari.Components.Web.HttpModules.MaintainScrollPositionModule, IryTech.AdmissionJankari.Components, Version=1.0.0.0, Culture=neutral" />
        <remove name="WindowsAuthentication" />
        <remove name="PassportAuthentication" />
        <remove name="AnonymousIdentification" />
        <remove name="UrlAuthorization" />
        <remove name="FileAuthorization" />
      </httpModules>
      <httpHandlers>
        <add verb="*" path="Syndication.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.SyndicationHandler, IryTech.AdmissionJankari.Components, Version=1.0.0.0, Culture=neutral" validate="false" />
        <add verb="*" path="file.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.FileHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="image.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.ImageHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="sitemap.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.SiteMap, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="rsd.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.RsdHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="css.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.CssHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="*js.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.JavaScriptHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="ExcelImport.axd" type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.ExcelImportHandler, IryTech.AdmissionJankari.Components" validate="false" />
        <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" />
        <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
        <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" />
        <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      </httpHandlers>
      <httpRuntime  targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="454445454" maxQueryStringLength="50125" requestPathInvalidCharacters="&lt;,>,*,%,:,\" />
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- Enable the staticContent section below to add Expires headers to images for better performance.
				 Some hosting providers does not allow the staticContent section to be set. -->
    <!--
		<staticContent>
			<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
		-->
    <handlers>
    <add name="CSS" path="css.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.CssHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="Syndication" path="Syndication.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.SyndicationHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="file" path="file.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.FileHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="image" path="image.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.ImageHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="sitemap" path="sitemap.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.SiteMap, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="rsd" path="rsd.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.RsdHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="js" path="*js.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.JavaScriptHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="ExcelImport" path="ExcelImport.axd" verb="*"  type="IryTech.AdmissionJankari.Components.Web.HttpHandlers.ExcelImportHandler, IryTech.AdmissionJankari.Components" resourceType="Unspecified" requireAccess="Script" />
      <add name="ChartImg" path="ChartImg.axd" verb="GET,HEAD,POST"  type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <modules >
      <add name="UrlRewrite" type="IryTech.AdmissionJankari.Components.Web.HttpModules.UrlRewrite, IryTech.AdmissionJankari.Components" />
      
      <add name="MaintainScrollPositionModule" type="IryTech.AdmissionJankari.Components.Web.HttpModules.MaintainScrollPositionModule, IryTech.AdmissionJankari.Components, Version=1.0.0.0, Culture=neutral" />

    </modules>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
